#red {
    background-color: red;
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}
#orange {
    background-color: orange;
    width: 150px;
    height: 200px;
}
#bl1 {
    background-color: rgb(32, 210, 184);
    width: 250px;
    height: 100px;
    margin-right: 10px;
}
#bl2 {
    background-color: rgb(18, 138, 72);
    width: 150px;
    height: 100px;
}
#da {
    background-color: rgb(240, 99, 47);
    width: 410px;
    height: 200px;
}
#bl3 {
    background-color: rgb(79, 155, 242);
    width: 150px;
    height: 310px;
}
#bl4 {
    background-color: rgb(42, 23, 118);
    width: 300px;
    height: 310px;
}
#bl5 {
    background-color: rgb(120, 177, 243);
    width: 25px;
    height: 310px;
}
#div1 {
    padding: 10px;
    display: inline-block;
    background-color: rgb(235, 241, 240);
}
.div2 {
    float: left;
    margin: 10px;
}
.bl12 {
    float: left;
}
